body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    
    color: white;
    background-color: darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    margin-left: 40px;
}

nav a{
    color: white;
    margin-right: 40px;
    margin-left: 20px;
}

.profile{
    
}

.vitalsigns h1{
    text-align: center;
    margin-bottom: 20px;
   

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    justify-content: center; /* keeps grid centered */
    gap: 20px;
  }

  .card {
    
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

.card p{
    margin-top: 20px;
}

.card h4,
.card p {
    text-align: center;
  }

  .activity{
    margin-top: 60px;
  }

table {
    width: 100%;
    border-collapse: collapse; /* removes double borders */
    background: white;
    border-radius: 10px;
    overflow: hidden; /* keeps rounded corners visible */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px 20px;
    text-align: left;
  }
  
  th {
    background-color: darkred;
    color: white;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }

tr:nth-child(even) {
    background-color: #f2f2f2; /* light gray */
  }
  
tr:nth-child(odd) {
    background-color: white;
  }

tbody tr:hover {
    background-color: #f1f1f1;
}