body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    
    color: white;
    background-color: darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    margin-left: 40px;
}

nav a{
    color: white;
    margin-right: 40px;
    margin-left: 20px;
}

.profile{
    
}

.vitalsigns{
   

}